weaponinfo {
  bottom: 16px;
  display: none;
  align-items: center;
  font-family: Biko;
  height: 64px;
  padding-left: 40px;
  padding-right: 30px;
  position: absolute;
  right: 80px;
  width: inherit;
  background-color: rgba(80, 80, 80, 0.5);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.85);
  border-radius: 25px;
  border: 2px solid rgba(80, 80, 80, 1);
  padding: 8px 24px;
  font-size: 32px;
  transition: all 1s ease-out;

  //.weaponIcon {
  //  margin-left: 16px;
  //  top: 0px;
  //  left: 0px;
  //  right: 20px;
  //  width: 137px;
  //  height: 64px;
  //  background-image: url( /ui/weapons/rifle.png );
  //  background-size: 100%;
  //  background-repeat: no-repeat;
  //}

  label {
    text-shadow: 0px 0px 20px #000;
  }

  .weaponIcon
  {
    left: 120px;
    width: 110px;
    height: 110px;
    background-size: 100%;
    background-image-tint: #ffffff;
    position: absolute;
  }

  .textContainer {
    align-items: center;
    flex-grow: 1;
  }

  .weapon {
    font-size: 34px;
    color: #ECECEC;
    min-width: 40px;
    text-align: left;
    transition: color 0.2s ease;
  }

  .inventory {
    padding-right: 110px;
    color: #ECECEC;
    font-size: 28px;
    font-weight: normal;
    text-align: left;
    margin-left: 0px;
    opacity: 0.5;
  }

  &.active {
    display: flex;
  }


  &.low-ammo {
    .weapon {
      color: #ff9f9f;
    }
  }
}