nametags
{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;

	basenametag
	{
		font-family: Biko;
		position: absolute;
		font-weight: 600;
		color: white;
		background-color: rgba( #222, 0.0 );
		text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.85);
		font-size: 80px;
		transform-origin: 50% 0%;
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
	}
}
